include _settings

#background
#container
  
  mixin nav(links, navClass)
  
  #content.pages
    .home.page#page_1
      .pageContent
        h1 #{company_name}
        h2 #{company_descriptor}
    .company.page.full#page_2 
      .pageContent
        include _company
    .services.page.full#page_3
      .pageContent
        include _services
    .contact.page.full#page_4
      .pageContent
        include _contact

  footer
    h1 #{company_name}
    h2 #{company_descriptor}
    ul.center
      - each item in links
        li.footerItem
          mixin link(item)
    mixin design